<div>
    <div>
        <!-- busqeda de departamentos  -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="id, nombre, encargado" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Buscar</button>
            </div>
        </div>
    </div>


    <!-- Large modal -->

    <button type="button" class="btn btn-primary" (click)="showAll()">Ver Todos</button>

    <button type="button" class="btn btn-primary" (click)="nuevo()" data-toggle="modal" data-target=".bd-example-modal-lg">Nuevo Departamento</button>

    <br>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>{{modalTittle}}</h2>
                </div>

                <div class="container2">

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>ID del departamento</label>
                            <input [disabled]="nonEditable" [(ngModel)]="aDepartment.departamento_Id" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="form-group col-md-6">
                            <label>Nombre</label>
                            <input [(ngModel)]="aDepartment.nombre" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Encargado</label>
                            <div>
                                <select [(ngModel)]="aDepartment.persona_id" class="custom-select" id="inputGroupSelect01">
                                <option *ngFor="let element of usuarios;" value={{element.persona.persona_Id}}> {{element.usuario_Id}} - {{element.nombre}} - {{element.persona.persona_Id}}</option>
                            </select>
                            </div>
                        </div>
                    </div>

                    <div class="float-right">

                        <button data-dismiss="modal" type="button" class="btn btn-secondary">
                        <i class="material-icons">clear</i>                
                        Cancelar                
                    </button>

                        <button data-dismiss="modal" type="button" (click)="saveDepartment(aDepartment)" class="btn btn-primary">
                        <i class="material-icons">done</i>
                        Guardar
                    </button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <br>

    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h3 class="card-title">Total registrados ( <small>{{ departamentos.length}}</small> )</h3>
                    <!-- tabla para visualizar los departamentos-->
                    <div class="table-responsive">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th scope="col">Numero</th>
                                    <th scope="col">Nombre</th>
                                    <!-- <th scope="col">Lista de empleados</th>  boton para acceder a-->
                                    <th scope="col">Encargado</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let departamento of departamentos;">
                                    <td> {{departamento.departamento_Id}} </td>
                                    <td> {{departamento.nombre}}</td>
                                    <td> {{departamento.persona_id}}</td>

                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="eliminar(departamento)">
                                            <i class="far fa-trash-alt" ></i>
                                        </button>

                                        <button type="button" class="btn btn-info" data-target=".bd-example-modal-lg" data-toggle="modal" (click)="editar(departamento)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>