<div>
    <div>
        <!-- busqeda de departamentos  -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="id, nombre, encargado" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Buscar</button>
            </div>
        </div>
    </div>


    <!-- Large modal -->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Nuevo Departamento</button>
    <button type="button" class="btn btn-primary" (click)="showAll()">Ver Todos</button>

    <br>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Nuevo Departamento</h2>
                </div>

                <div class="container2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
                        </div>
                        <input [formControl]="nDId" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                        </div>
                        <input [formControl]="nDnombre" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Encargado</label>
                        </div>
                        <select [formControl]="nDpersona_id" class="custom-select" id="inputGroupSelect01">
                            <option selected>Selecione un departamento</option>
                            <!-- mandar a traer todos los usuarios para escojer uno, quiza un autocomplete para escojerlo...  -->
                            <option *ngFor="let element of usuarios;" value={{element.persona.persona_Id}}> {{element.usuario_Id}} - {{element.nombre}} - {{element.persona.persona_Id}}</option>

                        </select>
                    </div>
                    <button data-dismiss="modal" type="button" (click)="saveDepartment()" class="btn btn-primary">
                        <i class="material-icons">done</i>
                        Guardar
                    </button>

                    <button data-dismiss="modal" type="button" class="btn btn-secondary">
                        <i class="material-icons">clear</i>                
                        Cancelar                
                    </button>

                </div>

            </div>
        </div>
    </div>

    <br>

    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h3 class="card-title">Total registrados ( <small>{{ departamentos.length}}</small> )</h3>
                    <!-- tabla para visualizar los departamentos-->
                    <div class="table-responsive">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th scope="col">Numero</th>
                                    <th scope="col">Nombre</th>
                                    <!-- <th scope="col">Lista de empleados</th>  boton para acceder a-->
                                    <th scope="col">Encargado</th>
                                    <th scope="col">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let element of departamentos;">
                                    <td> {{element.departamento_Id}} </td>
                                    <td> {{element.nombre}}</td>
                                    <td> {{element.persona_id}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="deleteDepartment(element.departamento_Id)">
                            <i class="far fa-trash-alt" ></i>
                        </button>
                                        <button type="button" class="btn btn-info" (click)="editDepartment(element.departamento_Id)">
                            <i class="far fa-edit"></i>
                        </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>