<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Departamento</label>
                        <select class="form-control" required>
                            <option value="-1">-- Seleccione un departamento --</option>
                            <!-- <option *ngFor="let ubicacion of ubicaciones_1" [value]="ubicacion.ubicacion_Id">
                                {{ ubicacion.nombre }}
                            </option> -->
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Funcionario</label>
                        <select class="form-control" required>
                            <option value="-1">-- Seleccione un funcionario --</option>
                            <!-- <option *ngFor="let ubicacion of ubicaciones_2" [value]="ubicacion.ubicacion_Id">
                                {{ ubicacion.nombre }}
                            </option> -->
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Descripción</label>
                        <textarea class="form-control" required>
                 
                        </textarea>
                    </div>

                </div>
  
            </div>
        </div>
    </div>
</div>

