/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2019, 9:02:14 AM
    Author     : anton
*/
.alert{
  display:none;
}

*{
    font-family: Arial;
}
body{
  background-image: url('../img/san pablo.jpg');
  background-size: cover;
}

.imgMenu{
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.navButton{
        color: white;
}
#nav {
    margin: 0px 0px 0px 0px ;
    background-color: #153b00;
    color: white;
}
#nav a{    
    color: white;    
}


body {
    background-color: #1b2838;
    text-align:justify; 
    color: #c6d4df;
}

.contentContainer {
    margin: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: rgba( 62, 126, 167, 0.8); color: #d9dadd;  
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px 7px 7px 7px;
    padding: 5px;

}

.black-text{
    color: black;
}

.center{
    margin-right: auto;
    margin-left: auto ;
    padding-left: auto ;
    padding-right: auto;
}

#card {
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;    
    
}


.md-input {
    position: relative;
    margin-bottom: 30px;
}
    .md-input .md-form-control {
        font-size: 16px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-bottom: 2px solid #CACACA;
        box-shadow: none;
        width: 100%;
    }

    .md-input label {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .md-input .bar:before {
        left: 50%;
    }

    .md-input .bar:after {
        right: 50%;
    }

    .md-input .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    .md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #183D5D;
}
.md-input .bar:before, .md-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #03A9F4;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after {
    width: 50%;
}

* {
 margin:0;
 padding:0;
 box-sizing:border-box
}

body,
html {
 height:100%;
}
a {
 font-size:14px;
 line-height:1.7;
 color:#666;
 margin:0;
 transition:all .4s;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s
}
a:focus {
 outline:none!important
}
a:hover {
 text-decoration:none;
 color:#333
}
h1,
h2,
h3,
h4,
h5,
h6 {
 margin:0
}
p {
 font-size:14px;
 line-height:1.7;
 color:#666;
 margin:0
}
ul,
li {
 margin:0;
 list-style-type:none
}
input {
 outline:none;
 border:none
}
textarea {
 outline:none;
 border:none
}
textarea:focus,
input:focus {
 border-color:transparent!important
}
input:focus::-webkit-input-placeholder {
 color:transparent
}
input:focus:-moz-placeholder {
 color:transparent
}
input:focus::-moz-placeholder {
 color:transparent
}
input:focus:-ms-input-placeholder {
 color:transparent
}
textarea:focus::-webkit-input-placeholder {
 color:transparent
}
textarea:focus:-moz-placeholder {
 color:transparent
}
textarea:focus::-moz-placeholder {
 color:transparent
}
textarea:focus:-ms-input-placeholder {
 color:transparent
}
input::-webkit-input-placeholder {
 color:#adadad
}
input:-moz-placeholder {
 color:#adadad
}
input::-moz-placeholder {
 color:#adadad
}
input:-ms-input-placeholder {
 color:#adadad
}
textarea::-webkit-input-placeholder {
 color:#adadad
}
textarea:-moz-placeholder {
 color:#adadad
}
textarea::-moz-placeholder {
 color:#adadad
}
textarea:-ms-input-placeholder {
 color:#adadad
}
button {
 outline:none!important;
 border:none;
 background:0 0
}
button:hover {
 cursor:pointer
}
iframe {
 border:none!important
}
.txt1 {
 font-size:15px;
 color:#999;
 line-height:1.5
}
.txt2 {
 font-size:15px;
 color:#57b846;
 line-height:1.5
}
.limiter {
 width:100%;
 margin:0 auto
}
.container-login100 {
 width:100%;
 min-height:100vh;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 align-items:center;
 padding:15px;
}
.wrap-login100 {
 width:390px;
 background:#fff
}
.login100-form {
 width:100%
}

.login100-form-title {
 display:block;
 font-size:39px;
 color:#333;
 line-height:1.2;
 text-align:center
}

.login100-form-avatar img {
 width:100%
}
.wrap-input100 {
 width:100%;
 position:relative;
 border-bottom:2px solid #d9d9d9
}
.input100 {
 font-size:18px;
 color:#555;
 line-height:1.2;
 display:block;
 width:100%;
 height:52px;
 background:0 0;
 padding:0 5px
}
.focus-input100 {
 position:absolute;
 display:block;
 width:100%;
 height:100%;
 top:0;
 left:0;
 pointer-events:none
}
.focus-input100::before {
 content:"";
 display:block;
 position:absolute;
 bottom:-2px;
 left:0;
 width:0;
 height:2px;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s;
 transition:all .4s;

}
.focus-input100::after {
 font-size:18px;
 color:#999;
 line-height:1.2;
 content:attr(data-placeholder);
 display:block;
 width:100%;
 position:absolute;
 top:15px;
 left:0;
 padding-left:5px;
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s;
 transition:all .4s
}
.input100:focus+.focus-input100::after {
 top:-20px;
 font-size:15px
}
.input100:focus+.focus-input100::before {
 width:100%
}
.has-val.input100+.focus-input100::after {
 top:-20px;
 font-size:15px
}
.has-val.input100+.focus-input100::before {
 width:100%
}
.container-login100-form-btn {
 width:100%;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 margin-top: 10%;
 margin-bottom: 10%;
}
.login100-form-btn {
 font-size:16px;
 color:#fff;
 line-height:1.2;
 text-transform:uppercase;
 display:-webkit-box;
 display:-webkit-flex;
 display:-moz-box;
 display:-ms-flexbox;
 display:flex;
 justify-content:center;
 align-items:center;
 padding:0 20px;
 width:100%;
 height:50px;
 background-color:#57b846;
 border-radius:25px;
 box-shadow:0 10px 30px 0 rgba(87,184,70,.5);
 -moz-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);
 -webkit-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);
 -o-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);
 -ms-box-shadow:0 10px 30px 0 rgba(87,184,70,.5);
 -webkit-transition:all .4s;
 -o-transition:all .4s;
 -moz-transition:all .4s;
 transition:all .4s
}
.login100-form-btn:hover {
 background-color:#333;
 box-shadow:0 10px 30px 0 rgba(51,51,51,.5);
 -moz-box-shadow:0 10px 30px 0 rgba(51,51,51,.5);
 -webkit-box-shadow:0 10px 30px 0 rgba(51,51,51,.5);
 -o-box-shadow:0 10px 30px 0 rgba(51,51,51,.5);
 -ms-box-shadow:0 10px 30px 0 rgba(51,51,51,.5)
}
.validate-input {
 position:relative
}
.alert-validate::before {
 content:attr(data-validate);
 position:absolute;
 max-width:70%;
 background-color:#fff;
 border:1px solid #c80000;
 border-radius:2px;
 padding:4px 25px 4px 10px;
 top:50%;
 -webkit-transform:translateY(-50%);
 -moz-transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -o-transform:translateY(-50%);
 transform:translateY(-50%);
 right:0;
 pointer-events:none;
  color:#c80000;
 font-size:13px;
 line-height:1.4;
 text-align:left;
 visibility:hidden;
 opacity:0;
 -webkit-transition:opacity .4s;
 -o-transition:opacity .4s;
 -moz-transition:opacity .4s;
 transition:opacity .4s
}
.alert-validate::after {
 content:"\f06a";
  font-size:16px;
 color:#c80000;
 display:block;
 position:absolute;
 background-color:#fff;
 top:50%;
 -webkit-transform:translateY(-50%);
 -moz-transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -o-transform:translateY(-50%);
 transform:translateY(-50%);
 right:5px
}
.alert-validate:hover:before {
 visibility:visible;
 opacity:1
}
@media(max-width:992px) {
 .alert-validate::before {
  visibility:visible;
  opacity:1
 }
}
.login-more li {
 position:relative;
 padding-left:16px
}
.login-more li::before {
 content:"";
 display:block;
 position:absolute;
 width:5px;
 height:5px;
 border-radius:50%;
 background-color:#ccc;
 top:45%;
 -webkit-transform:translateY(-50%);
 -moz-transform:translateY(-50%);
 -ms-transform:translateY(-50%);
 -o-transform:translateY(-50%);
 transform:translateY(-50%);
 left:0
}


.right {
    float: right;
}

.left {
    float: left;
}

#all *{
    margin-left: auto;
    margin-right: auto;
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar .sidebar-header {
    padding: 20px;

}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #585858;
    background: #fff;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#content{
    display: inline-block;
}