/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2019, 9:02:14 AM
    Author     : anton
*/
#navbar {
    margin: 0px 0px 0px 0px ;
    background-color: #424242;
    color: white;
}
#navbar a{    
    color: white;    
}


body {
    background-color: #1b2838;
    text-align:justify; 
    color: #c6d4df;
}

.contentContainer {
    margin: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    background: rgba( 62, 126, 167, 0.8); color: #d9dadd;  
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px 7px 7px 7px;

}

.black-text{
    color: black;
}

.center{
    margin-right: auto;
    margin-left: auto ;
    padding-left: auto ;
    padding-right: auto;
}